body {
  background-color: #312e2b;
  font-size: 24px;
}

* {
  color: rgb(235, 235, 235);
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#App {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 90%;
  height: 90%;
  max-width: 1100px;
  max-height: 750px;
  column-gap: 20px;
  box-sizing: border-box;
}

#board {
  grid-area: 2 / 1 / span 4 / 1;
  display: flex;
  flex-wrap: wrap;
  width: 90vmin;
  height: 90vmin;
  max-width: 720px;
  max-height: 720px;
  border-width: 2px;
  border-style: solid;
  border-color: #0b2027;
  border-radius: 4px;
  box-sizing: border-box;
}

#right-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 30vw;
  max-width: 320px;
  grid-area: 2 / 2 / span 4 / 2;
  border: 1px solid rgb(109, 109, 109);
  border-radius: 3px;
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.light {
  background-color: #5d7f92;
}

.dark {
  background-color: #f8f8e6;
}

.square:active {
  background-color: #abbcbc;
}

.promotion-popup {
  position: relative;
  top: -50%;
  left: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  border: solid 2px black;
  box-shadow: 5px 5px 10px black;
  box-sizing: border-box;
}

.buttons {
  background-color: #5488a7;
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
  border: none;
  border-radius: 4px;
  height: 50px;
  width: 200px;
  align-self: center;
  justify-self: left;
  min-width: 100px;
  min-height: 50px;
  cursor: pointer;
  transition-duration: 0.1s;
}

.button:hover {
  background-color: #0c98e9;
}

.button:active {
  background-color: #344853;
}

#black-player {
  grid-area: 1 / 1 / 1 / 1;
  align-self: last baseline;
}

#white-player {
  grid-area: 6 / 1 / 6 / 1;
}

.piece {
  width: 85px;
  height: auto;
}

.promotion-img {
  width: 70px;
  height: auto;
}

.promotion-button {
  border: none;
}
